/* interview-theme.css
 * Warm, modern theme for a JavaFX interview practice application.
 */

.root {
    -fx-background-color: #489caa;
    -fx-font-family: "System";
    -fx-font-size: 14px;
}

/* ---------- Panes ----------- */

.primary-pane {
    -fx-background-color: #489caa;
    -fx-border-color: #d1eaf1 #059498 #058691 #8ad3d3; /* Top, Right, Bottom, Left */
    -fx-border-width: 4px;
    -fx-border-insets: 0;
}


/* ----------- Vbox ----------- */

.vbox {
    -fx-alignment: center;
    -fx-border-width: 4px;
    -fx-border-color: #172d3e;
    -fx-border-radius: 5px;
    -fx-background-color: #a6dde3;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
    -fx-spacing: 6;
    -fx-padding: 5;

}

.inner-box {
    -fx-spacing: 6;
}

/* ----------- Hbox ----------- */

.hbox {
    -fx-alignment: center;
    -fx-spacing: 40;
}

/* ---------- Labels ---------- */

.label {
    -fx-text-fill: #332f2b;
}

.title-label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #292522;
}


/* ---------- Text Areas ---------- */

.text-area {
    -fx-background-color: #fffdf9;
    -fx-control-inner-background: #fffdf9;
    -fx-text-fill: #332f2b;

    -fx-border-color: #ded6cc;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;

    -fx-padding: 10px;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.text-area .content {
    -fx-background-color: #fffdf9;
}

/* ---------- Text Fields ---------- */

.text-field {
    -fx-background-color: #fffdf9;
    -fx-text-fill: #332f2b;

    -fx-border-color: #ded6cc;
    -fx-border-width: 1px;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;

    -fx-padding: 9px 12px;
    -fx-max-width: 180px;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* ---------- Buttons ---------- */

.button {
    -fx-text-fill: #443b35;
    -fx-background-color: #a6dde3;
    -fx-background-radius: 10px;
    -fx-border-width: 4px;
    -fx-border-color: #172d3e;
    -fx-border-radius: 7px;
    -fx-background-insets: 2px;

    -fx-padding: 9px 18px;
    -fx-max-width: 220px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #e4dbd1;
}

/* ---------- Progress Bars ---------- */

.progress-bar {
    -fx-accent: #489caa;
}
